*{
    text-align: center;
    font-family: 'East Sea Dokdo', Arial, monospace;
}

html{
    background-color: #a5dfef;
    font-size: 24px;
}

body{
    width: 480px;
    margin: auto;
}

h1{
    font-size: 48px;
}

img{
    width: 360px;
    height: 480px;
    border-radius: 180px;
}

p{
    font-size: 1.2rem;
    font
}
